ul
  list-style-type: none  
  width: 98%
  margin: auto
  margin-top: 12px

  li
    cursor: pointer
    padding: 0px 14px
    display: flex
    border-bottom: 1px solid #ccc
    background-color: #fff
        
    .flex-container
      width: 100%
      display: flex
      flex-direction: row

      .flex-item-1
        flex: 80%

      .flex-item-2
        flex: 15%
      
      .flex-item-3
        flex: 5%

      div[class*="flex-item-"]
        position: relative
        
        p, p span 
          font-size: 13px
          font-family: 'Comic Sans MS'

        .text-type-1
          color: #333          

        .text-type-2
          color: #999          

        a          
          position: absolute
          top: 8px

    @media (max-width: 800px) 
      .flex-container 
        .flex-item-1
          flex: 60%

        .flex-item-2
          flex: 35%
        
        .flex-item-3
          flex: 5%
          

    &:hover
      background-color: #fafafa
