<ul>
  <li *ngFor="let article of articleList"
    (mouseenter)="article.showIcon = true"
    (mouseleave)="article.showIcon = false">
    <div class="flex-container">
      <div class="flex-item-1" (click)="clickElement(article)">
        <p class="text-type-1">
          {{ article.story_title ? article.story_title : article.title }}
          <span class="text-type-2">- {{ article.author }} -</span>
        </p>
      </div>
      <div class="flex-item-2" (click)="clickElement(article)" >
        <p class="text-type-1">
          {{ article.created_at | dateCustom }}
        </p>
      </div>
      <div class="flex-item-3">
        <a [@inOutAnimation] *ngIf="article.showIcon" (click)="deleteElement(article)">
          <span class="material-icons">delete</span>
        </a>
      </div>

    </div>            
  </li>
</ul>
