.header-section
  background-color: #333
  padding: 30px

  p
    margin: 0px
    font-size: 46px
    color: #fff  
    font-family: 'Comic Sans MS'

    &.big
      font-weight: 600
    
    &.small
      font-size: 20px